<!-- layout.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>2</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <!-- index.ejs -->
        <h1><%= title %></h1>
        <p>Welcome2 to <%= title %></p>
  </body>
</html>